{% extends 'core/base.html' %}

{% block body %}
<title>Cart</title>
<div class="mt-3 container">
    {% if items %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            {% if item.quantity %}
            <tr>
                <td>{{item.item}}</td>
                <td>
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        {% ifnotequal item.quantity 0 %}
                        <a href="{% url 'core:remove_from_cart' pk=item.item.pk %}" class="btn btn-secondary">-</a>
                        <button type="button" class="btn btn-secondary">{{item.quantity}}</button>
                        <a href="{% url 'core:add_to_cart' pk=item.item.pk %}" class="btn btn-secondary">+</a>
                        {% else %}
                        <button type="button" class="btn btn-secondary">{{item.quantity}}</button>
                        <a href="{% url 'core:add_to_cart' pk=item.item.pk %}" class="btn btn-secondary">+</a>
                        {% endifnotequal %}
                    </div>
                </td>
                <td>{{item.item.price}}</td>
                <td>{{item.total_price}}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="alert alert-info" role="alert">
        Your cart is Empty!
    </div>
    {% endif %}
    <hr>
    <a href="{% url 'core:index' %}" class="btn btn-info">Continue Shopping</a>
    {% if items %}
    <a href="{% url 'core:checkout' %}" class="btn btn-success">Checkout</a>
    {% endif %}
</div>

{% endblock %}