{% extends 'core/base.html' %}

{% load crispy_forms_tags %}
{% block body %}
<title>Payment</title>

<div class="container">
    <br>
    <div class="row">
        <div class="col-md-6">
            <article class="card">
                <div class="card-body p-5">
                    <p class="lead">Enter Card Details</p>
                    <form role="form">
                        <div class="form-group">
                            <label for="username">Full name (on the card)</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                                </div>
                                <input type="text" class="form-control" name="username" placeholder="" required="">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="cardNumber">Card number</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-credit-card"></i></span>
                                </div>
                                <input type="text" class="form-control" name="cardNumber" placeholder="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label><span class="hidden-xs">Expiration</span> </label>
                                    <div class="form-inline">
                                        <select class="form-control" style="width:45%">
                                            <option>MM</option>
                                            <option>01 - Janiary</option>
                                            <option>02 - February</option>
                                            <option>03 - February</option>
                                        </select>
                                        <span style="width:10%; text-align: center"> / </span>
                                        <select class="form-control" style="width:45%">
                                            <option>YY</option>
                                            <option>2022</option>
                                            <option>2023</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label data-toggle="tooltip" title=""
                                        data-original-title="3 digits code on back side of the card">CVV <i
                                            class="fa fa-question-circle"></i></label>
                                    <input class="form-control" required="" type="text">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </article>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h1>Checkout</h1>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="inputEmail4">Email (Enter true Email)</label>
                            {{checkout_form.email}}
                        </div>
                        <div class="form-group">
                            <label for="inputEmail4">Address</label>
                            {{checkout_form.address}}
                        </div>
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label for="inputEmail4">City</label>
                                {{checkout_form.city}}
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="inputEmail4">State</label>
                                {{checkout_form.state}}
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="inputEmail4">Country</label>
                                {{checkout_form.country}}
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="inputEmail4">ZIP</label>
                                {{checkout_form.zip}}
                            </div>
                        </div>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                            class="btn btn-primary btn-block" type="submit"> Confirm </button>
                    </form>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Order placed.</p>
                                    <p>Check your email.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary">Go Back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}