{% extends 'core/base.html' %}

{% block body %}
<title class="mt-3 ">Profile</title>
{% if items %}
<h2 class="mt-3">Your Past Orders:</h2>
<table class="table">
    <tbody>
        {% for item in items %}
        {% if item.quantity %}
        <tr>
            <td>{{item.item}}</td>
            <td>Qty: {{item.quantity}}</td>
            <td>Total Price: {{item.total_price}}</td>
            <td>{{item.time}}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% else %}
<h2>No orders placed</h2>
{% endif %}
{% endblock %}